{% extends 'app/base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}

<h3 class="mb-3">Blog from {{ blog.author }}</h3>
<div class="help"><small class="text-muted">On {{ blog.updated_at|date:'d M, Y' }} at {{ blog.updated_at|date:"P" }}</small></div>
<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-6"><img class="img-fluid" src="{{ blog.image.url }}"></div>
    <div class="col-sm-12 col-md-12 col-lg-6"><p>{{ blog.description }}</p></div>
</div>
<div class="btn-group mt-3">
    <a href="{% url 'like_flip' blog_id=blog.pk %}" type="button" class="btn {% if like %}btn-primary{% endif %} btn-sm btn-outline-secondary" {% if like %} style="color: white;" {% endif %}><i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </a>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'likes' blog_id=blog.pk %}?refer={{ request.path|urlencode }}">{{ blog.likes }}</a>
</div>
<div class="help"><small class="text-muted">{{ blog.comments }} comments</small></div>

<form class="form row" action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="add" name="action">
  <div class="form-group mx-sm-0 mb-2 col-lg-6 col-sm-12">
    <label for="inputPassword2" class="sr-only">Comment</label>
    <input name="cmt_text" type="text" class="form-control" id="inputPassword2" placeholder="Add your comment here..." required>
  </div>
  <button type="submit" class="btn btn-primary ml-2 mb-2">Comment</button>
</form>

{% if comments %}
{% for comment in comments %}
<div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
            @{{comment.user_id.username}}
            <span class="float-right">{{comment.updated_at|date:'d M, y'}} at {{comment.updated_at|date:'P'}}</span>
        </strong>
        {{comment.text}}
        <small class="d-block text-gray-dark">
            {% if comment in my_cmts_liked %}
            <i class="fa fa-thumbs-down" aria-hidden="true" data-id="{{ comment.id }}" id="like{{ comment.id }}" onclick="likeCommentFlip(this);"></i>
            {% else %}
            <i class="fa fa-thumbs-up" aria-hidden="true" data-id="{{ comment.id }}" id="like{{ comment.id }}" onclick="likeCommentFlip(this);"></i>
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <span id="like{{ comment.id }}number">{{ comment.likes }}</span>
            {% if comment.user_id == request.user %}
            <span class="float-right delete-comment"  id="{{ comment.id }}" style="cursor: pointer;" onclick="deleteComment(this);"><i class="fa fa-trash" aria-hidden="true"></i></span>
            <a href="{% url 'edit_comment' comment_id=comment.id %}" class="float-right edit-comment mr-3 text-secondary" style="cursor: pointer; text-decoration:none;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            {% endif %}
        </small>
    </p>
</div>
{% endfor %}
{% else %}
<div>Be the first one to comment on this blog.</div>
{% endif %}

{% endblock %}

{% block scripting %}
<script type="text/javascript">
    $(document).ready(function(){

    });
    function deleteComment(e)
    {
        $.ajax({
        type: 'GET',
        url: "/comments/delete/" + e.id,
        data: {
            'blog_id': {{ blog.id }},
        },
        success: function(result){
            $("#" + e.id).parent().parent().parent().remove();
        }});
    }
    function likeCommentFlip(e)
    {
        $.ajax({
        type: 'GET',
        url: "/comments/likeflip/",
        data: {
            'cmt_id': $("#" + e.id).attr('data-id'),
        },
        success: function(result){
            $("#" + e.id + "number").html(result);
            if ($('#' + e.id).hasClass('fa-thumbs-up'))
            {
                $('#' + e.id).removeClass('fa-thumbs-up');
                $('#' + e.id).addClass('fa-thumbs-down');
            }
            else if ($('#' + e.id).hasClass('fa-thumbs-down'))
            {
                $('#' + e.id).removeClass('fa-thumbs-down');
                $('#' + e.id).addClass('fa-thumbs-up');
            }
        }});
    }
</script>
{% endblock %}